[submodule "vim/dotvim/bundle/webapi-vim"]
	path = vim/dotvim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/dotvim/bundle/supertab"]
	path = vim/dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/dotvim/bundle/vim-snipmate"]
	path = vim/dotvim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/dotvim/bundle/vim-javascript"]
	path = vim/dotvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/dotvim/bundle/vim-coffee-script"]
	path = vim/dotvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/dotvim/bundle/vim-fugitive"]
	path = vim/dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/dotvim/bundle/vim-git"]
	path = vim/dotvim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/dotvim/bundle/vim-markdown"]
	path = vim/dotvim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/dotvim/bundle/vim-rails"]
	path = vim/dotvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/dotvim/bundle/vim-surround"]
	path = vim/dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/dotvim/bundle/vim-ruby"]
	path = vim/dotvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/dotvim/bundle/Gist.vim"]
	path = vim/dotvim/bundle/Gist.vim
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "vim/dotvim/bundle/syntastic"]
	path = vim/dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/dotvim/bundle/nerdtree"]
	path = vim/dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/dotvim/bundle/nerdcommenter"]
	path = vim/dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/dotvim/bundle/vim-matchit"]
	path = vim/dotvim/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim/dotvim/bundle/threesome.vim"]
	path = vim/dotvim/bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
[submodule "vim/dotvim/bundle/grunt.vim"]
	path = vim/dotvim/bundle/grunt.vim
	url = https://github.com/mklabs/grunt.vim.git
[submodule "vim/dotvim/bundle/tlib_vim"]
	path = vim/dotvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/dotvim/bundle/vim-addon-mw-utils"]
	path = vim/dotvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/dotvim/bundle/snipmate-snippets"]
	path = vim/dotvim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vim/dotvim/bundle/golden-ratio"]
	path = vim/dotvim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "vim/dotvim/bundle/vim-phpunit"]
	path = vim/dotvim/bundle/vim-phpunit
	url = https://github.com/clauswitt/vim-phpunit.git
[submodule "vim/dotvim/bundle/vim-endwise"]
	path = vim/dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/dotvim/bundle/vim-liquid"]
	path = vim/dotvim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/dotvim/bundle/tabular"]
	path = vim/dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/dotvim/bundle/vim-colors-solarized"]
	path = vim/dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/dotvim/bundle/tcomment_vim"]
	path = vim/dotvim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/dotvim/bundle/vim-unimpaired"]
	path = vim/dotvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/dotvim/bundle/numbers"]
	path = vim/dotvim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
