[submodule "vim/dotvim/bundle/vim-coffee-script"]
	path = vim/dotvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/dotvim/bundle/vim-fugitive"]
	path = vim/dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/dotvim/bundle/vim-git"]
	path = vim/dotvim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/dotvim/bundle/vim-markdown"]
	path = vim/dotvim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/dotvim/bundle/vim-rails"]
	path = vim/dotvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/dotvim/bundle/vim-surround"]
	path = vim/dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/dotvim/bundle/vim-ruby"]
	path = vim/dotvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/dotvim/bundle/syntastic"]
	path = vim/dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/dotvim/bundle/golden-ratio"]
	path = vim/dotvim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "vim/dotvim/bundle/vim-phpunit"]
	path = vim/dotvim/bundle/vim-phpunit
	url = https://github.com/clauswitt/vim-phpunit.git
[submodule "vim/dotvim/bundle/vim-endwise"]
	path = vim/dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/dotvim/bundle/vim-liquid"]
	path = vim/dotvim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/dotvim/bundle/vim-colors-solarized"]
	path = vim/dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/dotvim/bundle/tcomment_vim"]
	path = vim/dotvim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/dotvim/bundle/vim-unimpaired"]
	path = vim/dotvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/dotvim/bundle/numbers"]
	path = vim/dotvim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/dotvim/bundle/ultisnips"]
	path = vim/dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/dotvim/bundle/easymotion"]
	path = vim/dotvim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/dotvim/bundle/ruby-refactoring"]
	path = vim/dotvim/bundle/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
