[submodule "vim/dotvim/bundle/matchit"]
	path = vim/dotvim/bundle/matchit
	url = https://github.com/clauswitt/vim-matchit.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "fish/oh-my-fish"]
	path = fish/oh-my-fish
	url = https://github.com/bpinto/oh-my-fish.git
[submodule "tmux/dottmux/plugins/tpm"]
	path = tmux/dottmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/spacemacs/layers/snippets"]
	path = emacs/spacemacs/layers/snippets
	url = https://github.com/clauswitt/yasnippet-snippets.git
