vim/dotvim/.netwhist
vim/dotvim/.netrwhist
tmux/dottmux/resurrect
Session.vim
tmux/dottmux/sidebar
tmux/dottmux/plugins
emacs/
bin/nanobox
bin/BinaryBuilder
bin/carina
vim/dotvim/plugged
vim/dotvim/bundle
