snippet cdata "cdata" w
<![CDATA[
	$1
]]>
endsnippet

snippet shader "shader" w
<shader><![CDATA[
	$1
]]></shader>
endsnippet

snippet content "content" w
<content><![CDATA[
	$1
]]></content>
endsnippet
